<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Detalhes do Lookbook</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .clothing-item-img {
            width: 200px;
            height: auto; 
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="my-4">Detalhes do Lookbook</h1>
        <div>
            <h3>Nome do Lookbook:</h3>
            <p th:text="${lookbook.nome}"></p>

            <h3>Peças:</h3>
            <div class="row">
                <div class="col-md-4" th:each="item : ${lookbook.clothingItems}">
                    <div class="card mb-3">
                        <img th:src="@{${item.imagemURL}}" alt="Imagem da peça" class="card-img-top clothing-item-img"/>
                        <div class="card-body">
                            <h5 class="card-title" th:text="${item.nome}"></h5>
                            <p class="card-text">Categoria: <span th:text="${item.categoria}"></span></p>
                            <p class="card-text">Tamanho: <span th:text="${item.tamanho}"></span></p>
                            <p class="card-text">Cor: <span th:text="${item.cor}"></span></p>
                            <p class="card-text">Material: <span th:text="${item.material}"></span></p>
                            <p class="card-text">Marca: <span th:text="${item.marca}"></span></p>
                            <p class="card-text">Padrão: <span th:text="${item.padrao}"></span></p>
                            <p class="card-text">Preço: R$ <span th:text="${item.preco}"></span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
